<h2>Almost there! Pick two flavor profiles:</h2>

<div id="flavor" class="row">

   <%= form_tag '/flavor' do %>

    <div class="col-md-3">
        <%= check_box_tag('flavor[]', 'fruity')  %>
        <%= label_tag(:fruity, "Fruity") %>
        <br>
        <%= check_box_tag('flavor[]', 'bitter') %>
        <%= label_tag(:bitter, "Bitter") %>
        <br>
        <%= check_box_tag('flavor[]', 'tropical') %>
        <%= label_tag(:tropical, "Tropical") %>
    </div>

    <div class="col-md-3">
        <%= check_box_tag('flavor[]', 'herbal') %>
        <%= label_tag(:herbal, "Herbal") %>
        <br>
        <%= check_box_tag('flavor[]', 'citrusy') %>
        <%= label_tag(:citrusy, "Citrusy") %>
        <br>
        <%= check_box_tag('flavor[]', 'sweet') %>
        <%= label_tag(:sweet, "Sweet") %>
    </div>

    <div class="col-md-3">
        <%= check_box_tag('flavor[]', 'dry') %>
        <%= label_tag(:dry, "Dry") %>
        <br>
        <%= check_box_tag('flavor[]', 'refreshing') %>
        <%= label_tag(:refreshing, "Refreshing") %>
        <br>
        <%= check_box_tag( 'flavor[]', 'light') %>
        <%= label_tag(:light, "Light") %>
    </div>
    <div class="col-md-3">
        <%= check_box_tag('flavor[]', 'dark') %>
        <%= label_tag(:dark, "Dark") %>
        <br>
        <%= check_box_tag('flavor[]', 'intense') %>
        <%= label_tag(:intense, "Intense") %>
        <br>
        <%= check_box_tag('flavor[]', 'challenging') %>
        <%= label_tag(:challenging, "Challenging") %>
    </div>
<br>
  <button type="submit" class="btn btn-default">Submit</button>

<% end %>