<h2>So, it's <span id="time"></span>. What are you up to?</h2>

<script>
   var dateHere = new Date().toString("hh:mm tt")
document.getElementById("time").innerHTML=dateHere
  </script>

<%= form_tag '/occasion' do %>
  <% if Time.now.hour < 18 %>

    <%= button_tag 'At a garden party', :name => 'occasion[day_party]', :class => "btn btn-default btn-lg btn-block" %>

    <%= button_tag 'On vacation', :name => 'occasion[vacation]', :class => "btn btn-default btn-lg btn-block" %>

    <%= button_tag 'Day drinking!', :name => 'occasion[day_drinking]', :class => "btn btn-default btn-lg btn-block" %>

  <% else %>

    <%= button_tag 'Dinner and drinks', :name => 'occasion[dinner_drinks]', :class => "btn btn-default btn-lg btn-block" %>

    <%= button_tag 'Just out for drinks', :name => 'occasion[evening_drinks]', :class => "btn btn-default btn-lg btn-block" %>

    <%= button_tag 'A night in', :name => 'occasion[night_in]', :class => "btn btn-default btn-lg btn-block" %>

  <% end %>
<% end %>

<!-- form /whatver

if earlier than 6
  button name="party"
  button name="vacation"
else
  button name='night_in'
end -->



