<!DOCTYPE html>
<html>
<head>
  <title>Drink Match</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png' %>

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">

<h1><%= link_to 'Drink Match', root_path %></h1>

<h2>Find the right cocktail for right now.</h2>

<%= form_tag("/search", method: "get", id: 'q') do %>
  <%= label_tag(:q, "Search for:") %>
  <%= search_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

  <section>
    <%= yield %>
  </section>

</div>

</body>
</html>
