<!DOCTYPE html>
<html>
<head>
  <title>Drink Match</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'url http://imgur.com/dZF75KD', rel: 'shortcut icon', type: 'image/png' %>

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="search">

<%= form_tag("/search", method: "get", class: 'form-inline') do %>
  <%= search_field_tag 'search', nil, :class => "form-control" %>
  <button type="submit" class="btn btn-default">Search</button>
<% end %>
</div>

<div class="container">

<header>
  <h1><%= link_to 'Drink Match', root_path %></h1>

  <h2>Find the right cocktail for right now.</h2>
</header>

  <section>
    <%= yield %>
  </section>

</div>

<footer>&copy; Copyright Rabbit of throughtheliquorglass.com with massive help from DT & Larlyn.</footer>

</body>
</html>
